.AuthPage {
    height: 100%;
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    border-radius: 2vmin;
  }
  
  .AuthPage h3 {
    margin-top: 4vmin;
    text-align: center;
    color: lime;
    cursor: pointer;
    
  }
  